[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[requires]

python_version = "3.6"


[packages]

flask = "*"
requests = "*"
"boto3" = "*"
botocore = "*"
