[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
jedi = "*"
pillow = "*"
requests = "*"


[dev-packages]

jedi = "*"
rope = "*"
importmagic = "*"
"autopep8" = "*"
yapf = "*"
"flake8" = "*"


[requires]

python_version = "3.6"
